.AnswersList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.AnswersText{
    text-align: center;
    margin-bottom: 10px;
}
